{% extends 'services/base.html'%}

{% block content %}

<div>
    <h3>Filter service</h3>

    <form action="services">
        Search by
            <select name="search">
                <option value="price">Price</option>
                <option value="os_platform">OS Platform</option>
                <option value="description">Description</option>
                <option value="name" selected="selected">Name</option>
            </select>
            Contains <input name="search_value">

        <br>
        Sort by:
            <select name="sort">
                <option value="price">Price</option>
                <option value="os_platform">OS Platform</option>
                <option value="name" selected="selected">Name</option>
            </select>

        <br>
        <input type="submit", value="Get services" class="btn btn-primary">
    </form>
</div>

{% endblock %}
